**/.DS_Store
**/.history
**/__pycache__/

# Xcode
**/*.xcuserdata/
**/*.xcuserdatad/
**/DerivedData/
**/Build/

# Swift Package Manager
**/.build/
**/Packages/
**/swiftpm/

# Logs
**/*.log

# Pods
**/Pods/

# Carthage
**/Carthage/Build/

# Fastlane
**/fastlane/report.xml
**/fastlane/screenshots/
**/fastlane/test_output/

# Environment variables
**/*.env
