

.body-container {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-container {
    display: flex;
    padding: 20px;
    border-radius: 2%;
    width: 90%;
    max-width: 800px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(120deg, #fff 30%, #e5e5e5 38%,
                                #e5e5e5 40%, #fff 48%);
    background-size: 200% 100%;
    animation: reflect 2s infinite;
    align-items: center;
}

@keyframes reflect {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}

.card-header {
    flex: 1;
}

.card-header img {
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-header img:hover {
    transform: scale(1.15);
}

.card-header h1 {
    color: #333;
    text-align: center;
}

.card-infos {
    flex: 1;
    padding: 20px;
}

.infos-title {
    text-align: center;
}

.grid-container-stats, .grid-container-personal {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(7, 2fr);
}

.grid-item {
    margin-bottom: 1em;
    align-items: center;
    justify-content: center;
}

.grid-item strong {
    display: block;
    font-weight: bold;
}

/* ------------- BUTTTON ------------- */

.home-button:hover, .navigation-button-previous:hover,
.navigation-button-next:hover {
    box-shadow: none;
    color: #292929;
}

.home-button:active, .navigation-button-previous:active,
.navigation-button-next:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.home-button {
    color: #111;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #fff;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    transition: all 0.3s;
    z-index: 2;
}

.navigation-button-previous {
    color: #111;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #fff;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    position: absolute;
    top: 10px;
    left: 30%;
    transform: translateX(-50%);
    text-decoration: none;
    transition: all 0.3s;
    z-index: 2;
}

.navigation-button-next {
    color: #111;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #fff;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    position: absolute;
    top: 10px;
    left: 70%;
    transform: translateX(-50%);
    text-decoration: none;
    transition: all 0.3s;
    z-index: 2;
}

/* Media query pour les écrans plus petits */
@media only screen and (max-width: 1000px) {

    .body-container {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        margin-top: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-container {
        margin: auto;
        text-align: left;
        padding: 20px;
        border-radius: 8px;
        width: 90%;
        max-width: 400px;
        transition: transform 0.3s, box-shadow 0.3s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @keyframes reflect {
        0% {
            background-position: 0 0;
        }
    }

    .card-header img {
        width: 100%;
        max-width: 200px;
        height: auto;
        border-radius: 8px;
        margin-bottom: 15px;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .card-header img:hover {
        transform: scale(1.15);
    }

    .infos-title {
        text-align: center;
    }

    h1 {
        color: #333;
    }

    .grid-container-personal, .grid-container-stats {
        display: grid;
        gap: 15px;
    }

    .grid-container-personal {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-container-stats {
        grid-template-columns: repeat(3, 2fr);
    }

    .grid-item {
        margin-bottom: 1em;
    }

    .grid-item strong {
        display: block;
        font-weight: bold;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-button:hover, .navigation-button-previous:hover,
    .navigation-button-next:hover {
        box-shadow: none;
        color: #292929;
    }

    .home-button:active, .navigation-button-previous:active,
    .navigation-button-next:active {
        color: #666;
        box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
    }

    .home-button {
        color: #111;
        padding: 0.7em 1.7em;
        font-size: 18px;
        border-radius: 0.5em;
        background: #fff;
        border: 1px solid #e8e8e8;
        box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
        position: absolute;
        top: 80px;
        transform: translateX(-50%);
        text-decoration: none;
        transition: all 0.3s;
        z-index: 2;
    }

    .navigation-button-previous {
        color: #111;
        padding: 0.7em 1.7em;
        font-size: 18px;
        border-radius: 0.5em;
        background: #fff;
        border: 1px solid #e8e8e8;
        box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        text-decoration: none;
        transition: all 0.3s;
        z-index: 2;
    }

    .navigation-button-next {
        color: #111;
        padding: 0.7em 1.7em;
        font-size: 18px;
        border-radius: 0.5em;
        background: #fff;
        border: 1px solid #e8e8e8;
        box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
        position: absolute;
        top: 160px;
        left: 50%;
        transform: translateX(-50%);
        text-decoration: none;
        transition: all 0.3s;
        z-index: 2;
    }
}
/* ------------------------------------ */

/* ---------- Style DARKMODE ---------- */
.dark-mode {
    background-color: rgb(16, 16, 16);
}

.dark-mode .grid-item, .dark-mode .card-infos h2, .dark-mode .card-header h1 {
    color: #f4f4f4;
}

.dark-mode .card-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background: linear-gradient(120deg, rgb(29, 43, 58) 30%, #001225 40%, #001225 48%, rgb(29, 43, 58) 58%);
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-size: 200% 100%;
    animation: reflect 2s infinite;
}

/* Styles des boutons pour le mode sombre */
.dark-mode .home-button,
.dark-mode .navigation-button-previous,
.dark-mode .navigation-button-next {
    color: #fff;
    background: #1a1a1a;
    border: 1px solid #292929;
    box-shadow: 10px 10px 20px #0d0d0d, -10px -10px 20px #272727;
}

.dark-mode .home-button:hover,
.dark-mode .navigation-button-previous:hover,
.dark-mode .navigation-button-next:hover {
    color: #fff;
    box-shadow: none;
}

.dark-mode .home-button:active,
.dark-mode .navigation-button-previous:active,
.dark-mode .navigation-button-next:active {
    color: #aaa;
    box-shadow: inset 6px 6px 12px #0d0d0d, inset -6px -6px 12px #272727;
}
/* ------------------------------------ */

/* --------- BOUTONS DARKMODE --------- */
.switch {
    position: fixed;
    top: 30px;
    right: 40px;
    z-index: 6;
    font-size: 17px;
    display: inline-block;
    width: 64px;
    height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {

  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}
/* ------------------------------------ */

/* ----------- STYLE FOOTER ----------- */
footer {
  background-color: #0d1b2a;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);
}

.footer-info {
  max-width: 800px;
  margin: 0 auto;
  font-size: 0.8em;
  line-height: 1.2;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.ui-btn {
  --btn-default-bg: rgb(41, 41, 41);
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(51, 51, 51);
  --btn-transition: .3s;
  --btn-letter-spacing: .1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #FAC921;
  --default-btn-color: #fff;
  --font-size: 16px;
  --font-weight: 600;
  --font-family: Menlo, Roboto Mono, monospace;
}

.ui-btn {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
}

.ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.ui-btn:hover, .ui-btn:focus {
  background: var(--btn-hover-bg);
}

.ui-btn:hover span, .ui-btn:focus span {
  color: var(--hover-btn-color);
}

.ui-btn.legal:hover span::before, .ui-btn.legal:focus span::before {
  animation: legalAnimation linear both var(--btn-animation-duration);
}

@keyframes legalAnimation {
  0% {
    content: "#";
  }

  5% {
    content: "-.";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!6";
  }

  20% {
    content: "#$_è";
  }

  25% {
    content: "№*:$x";
  }

  30% {
    content: "r#{*";
  }

  35% {
    content: "@}0-?z";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!6";
  }

  50% {
    content: "?ù2_@%";
  }

  55% {
    content: "^/;1}]";
  }

  60% {
    content: "?{-%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4/";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}