<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rugby World Cup 2023</title>
    <link rel="icon" href="https://static.wikia.nocookie.net/logopedia/images/3/38/RWC2023_2018-symbol.svg" type="image/x-icon">
    <link rel="stylesheet" href="css/matches.css">
    <script src="js/matches.js" defer></script>
    <script src="js/script.js"></script>
</head>
<body>
    <label class="switch">
        <span class="sun"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="#ffd43b"><circle r="5" cy="12" cx="12"></circle><path d="m21 13h-1a1 1 0 0 1 0-2h1a1 1 0 0 1 0 2zm-17 0h-1a1 1 0 0 1 0-2h1a1 1 0 0 1 0 2zm13.66-5.66a1 1 0 0 1 -.66-.29 1 1 0 0 1 0-1.41l.71-.71a1 1 0 1 1 1.41 1.41l-.71.71a1 1 0 0 1 -.75.29zm-12.02 12.02a1 1 0 0 1 -.71-.29 1 1 0 0 1 0-1.41l.71-.66a1 1 0 0 1 1.41 1.41l-.71.71a1 1 0 0 1 -.7.24zm6.36-14.36a1 1 0 0 1 -1-1v-1a1 1 0 0 1 2 0v1a1 1 0 0 1 -1 1zm0 17a1 1 0 0 1 -1-1v-1a1 1 0 0 1 2 0v1a1 1 0 0 1 -1 1zm-5.66-14.66a1 1 0 0 1 -.7-.29l-.71-.71a1 1 0 0 1 1.41-1.41l.71.71a1 1 0 0 1 0 1.41 1 1 0 0 1 -.71.29zm12.02 12.02a1 1 0 0 1 -.7-.29l-.66-.71a1 1 0 0 1 1.36-1.36l.71.71a1 1 0 0 1 0 1.41 1 1 0 0 1 -.71.24z"></path></g></svg></span>
        <span class="moon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="m223.5 32c-123.5 0-223.5 100.3-223.5 224s100 224 223.5 224c60.6 0 115.5-24.2 155.8-63.4 5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6-96.9 0-175.5-78.8-175.5-176 0-65.8 36-123.1 89.3-153.3 6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z"></path></svg></span>
        <input type="checkbox" onclick="toggleDarkMode()" id="dark-button" class="input">
        <span class="slider"></span>
    </label>
    <h1 class="page-title"><img class="title-icon" src="https://static.wikia.nocookie.net/logopedia/images/3/38/RWC2023_2018-symbol.svg" alt="Rugby World cup 2023 Logo">2023's Rugby World Cup Matches</h1>
    
    <!-- Menu pour les phases de la compétition -->
    <div class="menu-container">
        {% for stage, matches in matches_by_stage.items() %}
            <div class="menu-item" onclick="showMatches('{{stage.replace(' ', '_') }}')" data-phase="{{ stage.replace(' ', '_') }}">{{ stage }}</div>
        {% endfor %}

    </div>

    <!-- Section pour afficher les matchs par phase de la compétition -->
    <div class="stage-matches">
        {% for stage, matches in matches_by_stage.items() %}
            <div class="stage-container {{ stage.replace(' ', '_') }}">
                <h2>{{ stage.replace('_', ' ') }}</h2>
                <div class="match-grid">
                    {% for match in matches %}
                        <div class="match-item">
                            <div class="team-images">
                                <div class="team-logo">
                                    <img class="lightLogo" src="{{ teams_matches[match.home.team].images.logo.light }}" alt="{{ match.home.team }}">
                                    <img class="darkLogo" src="{{ teams_matches[match.home.team].images.logo.dark }}" alt="{{ match.home.team }}" style="display: none;">
                                    <p>{{ match.home.team }}</p>
                                </div>
                                <div class="match-score">
                                    <p>{{ match.home.score }} - {{ match.away.score }}</p>
                                </div>
                                <div class="team-logo">
                                    <img class="lightLogo" src="{{ teams_matches[match.away.team].images.logo.light }}" alt="{{ match.away.team }}">
                                    <img class="darkLogo" src="{{ teams_matches[match.away.team].images.logo.dark }}" alt="{{ match.away.team }}" style="display: none;">
                                    <p>{{ match.away.team }}</p>
                                </div>
                            </div>
                            <div class="match-details">
                                <p>{{ match.date }}</p>
                                <p>{{ match.location }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Section pour afficher les matchs par équipe -->
    <div class="teams-container">
        {% for team, data in teams_matches.items() %}
            <div class="team-card" id="{{ team.replace(' ', '_') }}">
                <h2>{{ team }}</h2>
                <a href="#Matches_{{ team.replace(' ', '_') }}">
                    <div class="team-info">
                        <img src="{{ data.images.shape }}" alt="{{ team }}" class="team-image">
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    
    <div class="match-by-team">
        {% for team, data in teams_matches.items() %}
            <div class="team-matches-container" id="Matches_{{ team.replace(' ', '_') }}">
                <h2>{{ team }}</h2>
                <div class="match-grid-teams">
                    {% for match in data.matches %}
                        <div class="cardm">
                            <div class="card {{ 'won-match' if match.home.score > match.away.score else 'lost-match' if match.home.score < match.away.score else 'draw-match' }}">
                                <div class="teams-info">
                                    <div class="team-home pic">
                                        <img class="lightLogo" src="{{ teams_matches[match.home.team].images.logo.light }}" alt="{{ match.home.team }}">
                                        <img class="darkLogo" src="{{ teams_matches[match.home.team].images.logo.dark }}" alt="{{ match.home.team }}" style="display: none;">
                                        <p>{{ match.home.team }}</p>
                                    </div>
                                    <div class="score">{{ match.home.score }} - {{ match.away.score }}</div>
                                    <div class="team-away pic">
                                        <img class="lightLogo" src="{{ teams_matches[match.away.team].images.logo.light }}" alt="{{ match.away.team }}">
                                        <img class="darkLogo" src="{{ teams_matches[match.away.team].images.logo.dark }}" alt="{{ match.away.team }}" style="display: none;">
                                        <p>{{ match.away.team }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card2">
                                <div class="upper">
                                    <p class="match-date">{{ match.date }}</p>
                                </div>
                                <div class="lower">
                                    <p class="stadium">{{ match.location }}</p>
                                    <div class="card3">Rugby World Cup 2023</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Modal pour afficher les matchs -->
    <div id="matchesModal" class="modal">
        <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <!-- Le contenu des matchs sera inséré ici -->
        </div>
    </div>
    <button onclick="scrollToTop()" id="scrollToTopBtn">Go to the top</button>
</body>
</html>