


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.page-title {
    text-align: center;
    padding: 20px;
    font-size: 4vw;
    color: #333;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-icon {
    height: 4vw;
    margin-right: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.grid-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.grid-item p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
    color: #333;
}

.grid-item a {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.grid-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.grid-item:hover img {
    transform: scale(1.1);
}

.container-infos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form-control {
    grid-column: 1 / -1;
    position: relative;
    margin: 0px auto 40px;
    width: 250px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #525252 solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 28px;
  color: #363636;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 28px;
  min-width: 5px;
  color: #000000;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  transform: translateY(-45px);
}
/* ------------------------------------ */

.home-button {
  position: fixed;
  top: 70px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: rgb(16, 16, 16);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.home-button:hover {
  background-color: #0056b3;
}

.dark-mode .home-button {
  background-color: #fff;
  color: black;
}

.dark-mode .home-button:hover {
  background-color: yellow;
}
/* ---------- Style DARKMODE ---------- */
.dark-mode  {
    background-color: rgb(16, 16, 16);
}


.dark-mode, .dark-mode .modal-content {
    background-color: rgb(16, 16, 16);
}

.dark-mode h2, .dark-mode .page-title,
.dark-mode .form-control span, .dark-mode .form-control input,
.dark-mode .grid-item p {
    color: #f4f4f4;
}

.dark-mode .grid-item {
    border: none;
    background-color: #343434;
}

/* Styles pour la barre de navigation */
.team-nav {
  background-color: #333;
  padding: 20px 0;
  text-align: center;
}

.team-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-nav li {
  margin: 0 10px;
}

.team-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.team-nav a:hover {
  background-color: #555;
}

.dark-mode .team-nav {
  background-color: #1a1a1a;
}

.dark-mode .team-nav a {
  color: #f4f4f4;
}

.dark-mode .team-nav a:hover {
  background-color: #333;
}